.search_user_button {
	background: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
}

#purchase_summary td {
    max-width: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}